body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
button:focus, select:focus {
  outline: 0;
}
html,
body,
#map {
  height: 100%;
  width: 100vw;
}
#map,
#graphs {
  height: 100%;
  transition: all 1s linear;
}


.hidden {
  opacity: 0;
  height: 0px !important;
  overflow: hidden;
}

.info {
  padding: 6px 8px;
  font-size: 16px;
  color: #d2dae2;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  letter-spacing: 2px;
}
.info h4 {
  margin: 0 0 5px;
  color: #d2dae2;
  font-size: 20px;
}

.legend {
  width: 150px;
  height: 230px;
  line-height: 25px;
  color: #d2dae2;
  font-size: 1rem;
  font-weight: 700;
}
.legend i {
  width: 22px;
  height: 23px;
  float: left;
  margin-right: 8px;
}
.leaflet-left,
.leaflet-right {
  margin: 0 2em;
}
.danger {
  color: #ff3f34;
}

.info-title {
  font-weight: 700;
}
.info-title {
  color: #0fbcf9;
}

